<h1>Buy <%= @tutor.produce %> from <%= @tutor.farm %> for <%= number_to_currency(@tutor.produce_price, :unit => "$") %></h1>
<p><%= link_to "â† back to " + @tutor.name + "'s " + @tutor.farm, @tutor %></p>

<div id="wepay-iframe-div">
  <script type="text/javascript" src="https://www.wepay.com/js/iframe.wepay.js">
  </script>

  <script type="text/javascript">
    WePay.iframe_checkout("wepay-iframe-div", "<%= @checkout['checkout_uri'] %>");
  </script>
</div>