<h1>Listing tutors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password hash</th>
    <th>Wepay access token</th>
    <th>Wepay account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tutors.each do |tutor| %>
  <tr>
    <td><%= tutor.name %></td>
    <td><%= tutor.email %></td>
    <td><%= tutor.password_hash %></td>
    <td><%= tutor.wepay_access_token %></td>
    <td><%= tutor.wepay_account_id %></td>
    <td><%= link_to 'Show', tutor %></td>
    <td><%= link_to 'Edit', edit_tutor_path(tutor) %></td>
    <td><%= link_to 'Destroy', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tutor', new_tutor_path %>
